deb {{ ubuntu_repo_url }} {{ ansible_distribution_release }} main multiverse restricted universe
deb {{ ubuntu_repo_url }} {{ ansible_distribution_release }}-updates main multiverse restricted universe
deb {{ ubuntu_repo_url }} {{ ansible_distribution_release }}-backports main multiverse restricted universe
deb {{ ubuntu_repo_url }} {{ ansible_distribution_release }}-proposed main multiverse restricted universe
deb {{ ubuntu_repo_url }} {{ ansible_distribution_release }}-security main multiverse restricted universe